<h2>Reactive form custom validator</h2>

<form [formGroup]="authForm" nz-form (ngSubmit)="handleSubmitForm()">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTemplate">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="userName"
          placeholder="Username"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTemplate">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Submit
  </button>
</form>

<ng-template #errorTemplate let-e>
  <ng-container *ngIf="e.hasError('required') || e.hasError('whitespace')">
    <div>Trường này không được để trống</div>
  </ng-container>
</ng-template>

<div>---------- regex validation -----------</div>
<br />
<input
  [UpercaseText]="true"
  [RemoveVNTones]="true"
  [removeSpace]="true"
  type="text"
  [(ngModel)]="value"
  placeholder="input..."
  nz-input
/>
<span>{{ value }}</span>
