<nz-header>
  <div class="logo"></div>
  <div class="header-nav">
    <ul class="header-list">
      <li
        class="header-list__item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="admin-active-link"
        routerLink="form-tab"
      >
        tab
      </li>
      <li
        class="header-list__item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="admin-active-link"
        routerLink="form-array-reactive"
      >
        array (reactive)
      </li>
      <li
        class="header-list__item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="admin-active-link"
        routerLink="form-array-ng-model"
      >
        array (ng model)
      </li>
      <li
        class="header-list__item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="admin-active-link"
        routerLink="reactive-form-custom-validator"
      >
        validator
      </li>
      <li
        class="header-list__item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="admin-active-link"
        routerLink="reactive-form-custom-add"
      >
        custom add
      </li>
      <li
        class="header-list__item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="admin-active-link"
        routerLink="proxy"
      >
        validate duplicate
      </li>
      <li
        class="header-list__item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="admin-active-link"
        routerLink="custom-control"
      >
        custom control
      </li>
    </ul>
    <div class="header-langs">
      <nz-select
        [ngModel]="currentlang"
        style="width: 120px"
        (ngModelChange)="handleChangeLang($event)"
      >
        <ng-container *ngFor="let lang of langs">
          <nz-option
            [nzValue]="lang"
            nzLabel="{{ lang | translate }}"
          ></nz-option>
        </ng-container>
      </nz-select>
    </div>
  </div>
</nz-header>
