<div style="display: flex; justify-content: space-between">
  <h3>{{ "FORM_TAB_TITLE" | translate }}</h3>
  <h3>{{ "MISSING_KEY" | translate : { default: "DEFAULT KEY" } }}</h3>
  <button nz-button nzType="primary" (click)="handleSubmitAllForm()">
    Save
  </button>
</div>

<app-core-header></app-core-header>

<ng-container *ngIf="data && data.length > 0">
  <nz-tabset [(nzSelectedIndex)]="selectedIndex">
    <ng-container *ngFor="let i of data">
      <nz-tab [nzTitle]="i?.langName || ''">
        <app-form-tab-item
          (oChanging)="handleChangeForm($event)"
          #item
          [data]="i"
        ></app-form-tab-item>
      </nz-tab>
    </ng-container>
  </nz-tabset>
</ng-container>
